<div class="comment">
  <p class="comment-body">
    {{body}}
  </p>
  <p class="comment-footer">
    &mdash; <span class="username">{{user.username}}</span>, <span class="date">{{formatDate createdAt}}</span>
  </p>
</div>
