<div class="post-container custom-list">
  {{#each posts}}
  <a class="post-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
    <span class="post-title">{{title}}</span>
    <span class="post-date">{{formatDate createdAt}}</span>
  </a>
  {{/each}}
</div>
